# Netlifyリモート環境用の値はnetlify.tomlに定義
NODE_ENV=development

# ローカルの開発環境でURLにアクセスするためだけの環境変数。
# ちなみにNetlifyリモート環境はビルド時に各環境ごとの動的なベースURLを$URLという変数に自動で格納する。アプリコードからそれにアクセスできるようにnetlify.tomlで設定しているため、このVITE_BASE_URLをダッシュボードから環境変数として手動で登録する必要はない。
VITE_BASE_URL=http://localhost:3000

# Docker Composeによって起動されたローカルPostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/local_db"

# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=

# OAuth2 Providers, optional
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NOTE:
# In your OAuth2 apps, set callback/redirect URIs to`http://localhost:3000/api/auth/callback/<provider>`
# e.g. http://localhost:3000/api/auth/callback/github