# development | production
NODE_ENV=development

BASE_URL=http://localhost:3000
VITE_BASE_URL=http://localhost:3000

# Docker Composeによって起動されたローカルPostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/local_db

# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=y0vIlfat1YmkkPMLpvqYm915vee73Hhl
BETTER_AUTH_URL=http://localhost:3000

# OAuth2 Providers, optional
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NOTE:
# In your OAuth2 apps, set callback/redirect URIs to`http://localhost:3000/api/auth/callback/<provider>`
# e.g. http://localhost:3000/api/auth/callback/github